@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; // 🔒 Prevent horizontal scroll
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}
